
@media (max-width:600px) and (min-width:2400px) {
    h1 {
        font-size: 20rem;
    }
    body {
        display: block;
        flex-basis: auto;
        flex-wrap: wrap;
        flex-direction:row-reverse;
        justify-content: center;
    }
    .bottom-container {
        margin-bottom: auto;
    }
}

body {
    background-color: rgb(241, 239, 236);
    display: block;
    font-family: "Merriweather", serif;
}

.top-image  {
    position: relative;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 50px;
    border-radius: 10%;
}

.top-container {
    background-color:  rgb(212, 201, 190);
    position: relative;
    margin-bottom: 0px;
}

.title-text {
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom:50px ;
}

h1 {
    color: rgb(18, 52, 88); 
    font-size: 5.5rem;
    font-family: "Sacramento", cursive;
    text-align: center;
}

.profile {
    margin-top: 0px;
    padding-top: 10px;
}

h2 {
    color: rgb(18, 52, 88);
    font-size: 2rem;
    text-align: center;
}

 .web {
    text-decoration: underline;
 }

 .middle-container {
    background-color: rgb(18, 52, 88);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    text-align: center;
 }

 .image { 
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 50%;
 }

 h2 {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    color:#66bfbf;
    font-size: 2rem;
    font-family: "Merriweather", serif;
    font-weight: bold;
 }

 p {
    margin-top: 30px;
    padding-top: 5px;
    color: rgb(212, 201, 190);
    font-size: 2rem;
    text-align: center;
 }

 .skills {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: center;
    padding: 50px;
 }
 
 .about {
    display: inline-block;
    font-size: 2rem;
    align-items: left;
    margin: 10px 0px;
    padding: 10px 0px;
    padding-right: 20px;
 }

 .contact {
    display: inline-block;
    font-size: 2rem;
    padding: 10px 0px;
    margin: 10px 0px;
    padding-left: 20px;
 }

 .bottom-container {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgb(3, 3, 3);
    display: block;
    text-align: center;
 }

 .footer-link {
    color:  rgb(18, 52, 88);
    margin: 20px;
    padding: 20px;
 }
